<div class="sideblock">
  <div class="sideblock-header">Popular Tags</div>
  <div class="sideblock-content tagscloud">
    <a href="#"><span class="label label-default">C++</span></a>
    <a href="#"><span class="label label-primary">Windows</span></a>
    <a href="#"><span class="label label-success">Programming</span></a>
    <a href="#"><span class="label label-info">Java</span></a>
    <a href="#"><span class="label label-warning">Git</span></a>
    <a href="#"><span class="label label-danger">CUDA</span></a>
    <a href="#"><span class="label label-default">TDD</span></a>
    <a href="#"><span class="label label-warning">Android</span></a>
    <a href="#"><span class="label label-primary">Linux</span></a>
    <a href="#"><span class="label label-success">Patterns</span></a>
    <a href="#"><span class="label label-info">DAL</span></a>
  </div>
</div>
<div class="sideblock">
  <div class="sideblock-header">Best members</div>
  <div class="sideblock-content bestmembers">
    <ul>
      <li><a href="#">Puchnina</a></li>
      <li><a href="#">BestProger</a></li>
      <li><a href="#">IvanovVanya</a></li>
      <li><a href="#">Petrov9090</a></li>
      <li><a href="#">Triangleboost</a></li>
    </ul>
  </div>
</div>
